# ----------------------------------------
# 依存関係とビルド関連
# ----------------------------------------
.venv

# ----------------------------------------
# 機密情報とローカルファイル
# ----------------------------------------
*secrets/
*private/

# ----------------------------------------
# Pythonのキャッシュと一時ファイル
# ----------------------------------------
__pycache__/
*.pyc
*.so
.mypy_cache/
.ruff_cache/

# ----------------------------------------
# 配布物とテストのキャッシュ
# ----------------------------------------
dist/
build/
.pytest_cache/

# ----------------------------------------
# エディタ/OS固有のファイル
# ----------------------------------------
.vscode/
.DS_Store
